<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<!----------------------- Edit Modal ---------------------------------------------->

<div
     tabindex="-1"
     role="dialog" aria-labelledby="editModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="#" th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="form-group ">
                            <label class="font-weight-bold" for="editId">ID</label>
                            <input type="text" th:name="ID"
                                   th:value="*{id}" id="editId"
                                   class="form-control"/>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label class="font-weight-bold" for="editUsername">Username</label>
                        <input type="text" th:name="username"
                               th:value="*{username}" id="editUsername"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="editAge">Age</label>
                        <input type="text" th:name="age"
                               th:value="*{age}" id="editAge"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold"
                               for="editEmail">Email</label>
                        <input type="text" th:name="email"
                               th:value="*{email}" id="editEmail"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold"
                               for="editUsername">Username</label>
                        <input type="text" th:name="username"
                               th:value="*{username}" id="editUsername"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold"
                               for="editPassword">Password</label>
                        <input type="text" th:name="password"
                               th:value="*{password}" id="editPassword"
                               class="form-control"/>
                    </div>
                    <label class="font-weight-bold mr-2"
                           for="editRoles">Roles:</label>
                    <select class="custom-select" size="2" multiple
                            th:value="*{roles}" th:name="roles" required>
                        <option th:each="role : ${roles}"
                                name="roles"
                                id="editRoles"
                                th:text="${role.name}"
                                th:value="${role.id}">One
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--    <form action="#" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}" th:method="PATCH">-->
<!--        <table border="0" cellpadding="10">-->
<!--            <tr>-->
<!--                <td>User ID:</td>-->
<!--                <td><input type="text" th:field="*{id}" th:disabled="true"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Username:</td>-->
<!--                <td><input type="text" th:field="*{username}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Password:</td>-->
<!--                <td><input type="text" th:field="*{password}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Age:</td>-->
<!--                <td><input type="text" th:field="*{age}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Email:</td>-->
<!--                <td><input type="text" th:field="*{email}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <select th:object="${role}" th:field="*{name}">-->
<!--                        <option value="0">select role</option>-->
<!--                        <option th:each="role : ${roles}" th:value="${role.name}"-->
<!--                                th:text="${role.getName()}"></option>-->
<!--                    </select>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2">-->
<!--                    <button type="submit">Save</button>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
</div>
</body>
</html>